<body class="A4">
    <button printSectionId="print-section" ngxPrint style="float: right;">print</button>
    <section class="sheet padding-10mm">
        <div class="container">
            <form *ngIf="show" [formGroup]="editorForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="editor">
                    </label>
                    <quill-editor [style]="editorStyle" formControlName="editor" [(ngModel)]="textFormat">
                    </quill-editor>
                </div>
                <button class="btn btn-primary mt-3">Submit</button>
            </form>
            <p [innerHTML]="editorContent" id="print-section"></p>
        </div>
    </section>

</body>